<!DOCTYPE html>
<html lang="zh-cmn-Hans">
  <head>
    <meta charset="utf-8">
    <title>快速开发框架生成应用</title>
  </head>
  <body>
    <div id="root"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
